body {
    background-color: black;
    color: blue;
}
h1 {
    color: whitesmoke;
    font-style: italic;
}
img {
    width: 100px;
    height: 100px;
}
#titulo{
    font-size: 12px;
}
.img2 {
    width: 300px;
    height: 300px;
}
.img3 {
    width: 400px;
    height: 400px;
}

