body {
    margin: 0;
}
.exemplo{
    width: 150px;
    height: 170px;
    border: 1px solid;
    word-wrap: break-word;
}
.exemplo2 {
    width: 150px;
    height: 170px;
    border: 1px solid;
    overflow: hidden;
}
div { 
    width: 150px;
    height: 170px;
    border: 1px solid;
}