*{
    margin: 0;
    padding: 0;
}

.menu{
    background-color: #0000ff;
}
.menu li {
    list-style: none;
    display: inline-block;
}
.menu a {
    color: white;
    display: block;
    padding: 10px;
}
.menu a:hover {
    background-color: white;
    color: #0000ff;
}