*{
    margin: 0;
    padding: 0;
}
.menu {
    background-color: #0000ff;
}
.menu a {
    color: #ffffff;
    display: block;
    padding: 10px;
}
.menu a:hover{
    background-color: white;
    color: #0000ff;
}
.menu li {
    display: inline-block;
    list-style: none;
}