table {
    border: 5px solid black;
    width: 400px;
    height: 200px;
}
td {
    font-size: 20px;
    border: 1px solid gray;
}
.topo {
    text-align: center;
    
    
}
.topo > td {
    border: 2px solid black;
}

